@use "../abstracts" as *;

.#{$prefix} {
	&offset-grid {
		display: grid;
		gap: $grid-gap;
		grid-template-columns: 1fr;
		justify-content: center;

		@include mq(medium) {
			grid-template-columns: repeat(3, 1fr);

			& > :nth-child(4n + 2),
			& > :nth-child(4n + 3) {
				grid-column: span 2;
			}

			& > * {
				grid-template-rows: subgrid;
				grid-row: span 3;

				& > :last-child {
					padding-top: $size-4;
				}
			}
		}

		p {
			max-width: 34ch;
		}
	}
}
